body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: monospace;
}

#pane-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.pane {
    background-color: #282828;
    color: #ffffff;
}

#editor-pane {
    flex: 60%;
    background-color: #222222;
}

#right-panes {
    display: flex;
    flex: 40%;
    flex-direction: column;
}

#top-pane {
    border-bottom: 1px solid #444444;
    flex: 50%;
    background: #000000;
    padding: 1.0em;
    overflow: auto;
    flex-grow: 1;
}

#top-pane pre {
    white-space: pre-wrap;
}

#bottom-pane {
    flex: 50%;
    padding: 1.0em;
}

#ribbon {
    display: flex;
    align-items: center;
    background-color: #2e2e2e;
    padding: 0 1.0em;
    font-size: 12pt;
    color: rgba(255, 255, 255, 0.5);
}

#ribbon a {
    color: #6bc4ff;
    text-decoration: none;
}

#ribbon a:hover {
    text-decoration: underline;
}

#editor {
    width: 100%;
    height: 100%;
    border: none;
    border-right: 1px solid #444444;
    border-radius: 0;
    color: #ffffff;
    background-color: inherit;
    resize: none;
    outline: none;
    padding: 1.0em;
    font-size: 11pt;
    box-sizing: border-box;
    tab-size: 4;
}

button {
    border: none;
    height: 100%;
    color: #ffffff;
    font-weight: bold;
    font-family: inherit;
    background: none;
    padding: 0.8em;
    font-weight: normal;
}

#buttons {
    font-size: 0;
    height: 100%;
}

button:hover {
    color: #ffffff;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

button:hover:not(#run-button) {
    background-color: rgba(255, 255, 255, 0.1);
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid #444444;
}

th, td {
    padding: 0.5em;
}

.green {
    background-color: #59cf57;
}

.red {
    background-color: #f04d4d;
}